@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
}

body {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  background: #1f2125;
}
::-webkit-scrollbar-thumb {
  background: #2ca4ab;
  border-radius: 100px;
}

.card:hover .card__element {
  border: #2ca4ab;
  background-color: #2ca4ab;
}
.card:hover .onBlue-p {
  color: #2ca4ab;
}
.card:hover .card__element p {
  color: black;
}

.card__element {
  width: calc(2.5 * 1rem);
  height: calc(2.5 * 1rem);
  padding: 17px;
}

.audio-playing p {
  color: green;
}

.cursor-dot {
  width: 5px;
  height: 5px;
}

.cursor-outline {
  width: 30px;
  height: 30px;
  border: 2px solid;
}

.cursor-dot,
.cursor-outline {
  position: fixed;
  top: 0;
  left: 0;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  z-index: 10000;
  pointer-events: none;
}
